<%- include("../partials/header", {isAuthenticated}) -%>

   <div class="container">
    <h1> My Memories </h1>
    <a href="/uploads/articles/new-article" class="btn btn-primary" > New Article </a>
    <% articles.forEach( article => { %>
        <div class="card"">
            <div class="card-body">
              <h5 class="card-title"> <%= article.title %> </h5>
              <div class="card-subtitle text-muted mb-2" > 
                 <%= article.createdAt.toLocaleDateString() %>
              </div>
              <p class="card-text"> <%= article.description %></p>
              
              <a href="/uploads/article/<%= article._id %>" class="btn btn-primary">Read More</a> 

            <a  href="/uploads/edit/<%= article._id %>" class="btn btn-success padButtonEdit" > Edit </a>
            <form action="/uploads/delete/<%= article._id %>?_method=DELETE" method="POST">
              <button type= "submit" class="btn btn-danger padButtonEdit" > Delete </button>
            </form>
          </div>

          </div>
    <% } ) %>
   </div>

   <%- include("../partials/footer") -%>
