<%- include("../partials/header", {isAuthenticated}) -%>
<!-- 
 <div class="container">
        <form action="/uploads/update" method="put">
            <h1> <%= article.title %> </h1>
            <div class="card-subtitle text-muted mb-2" > 
                <%= article.createdAt.toLocaleDateString() %> 
            </div>  
            <h3> Description </h3>
            <p class="card-text"> <%= article.description %></p>
            <a href="/uploads/articles" class="btn btn-secondary">All Articles</a>
            <a href="/uploads/edit/<%= article._id %>" class="btn btn-primary">Edit</a>
        </form>

    </div>
-->
   

    <div class="container-fluid">
       
        <div class="col-md-4 mx-2 mx-md-auto my-5 ">
                <div class="card-header p-1 text-center">
                    <h1 class="my-0 heading-bold" > <%= article.title %> </h1>
                </div>
                <div class="card-content p-2 ">
                    <p class="text-dark"> <%= article.description %> </p>
                </div>   
        </div>
    </div>

    
    
<%- include("../partials/footer") -%>
